[Desktop Entry]
Version=1.0
Type=Application
Name=EveryDB
GenericName=Database Explorer
Comment=Native modular database management for PostgreSQL, MongoDB, Redis and more
Exec=everydb %u
Icon=everydb
StartupNotify=true
Categories=Development;Database;
Keywords=database;sql;postgres;mongodb;redis;query;